{
    "branches": ["master", "main"],
    "repositoryUrl": "https://github.com/advertikon/repo-name.git",
    "plugins": [
      "@semantic-release/commit-analyzer",
       ["@semantic-release/npm", {
              "npmPublish": true,
       }],
      "@semantic-release/changelog",
      "@semantic-release/release-notes-generator",
      "@semantic-release/git",
      ["@semantic-release/github", {
        "assets": [
          {"path": "dist", "label": "Assets"},
        ]
      }],
    ]
}
